.applicant-details {
  padding: 30px 0px;
  .applicant-details__title {
    font-size: 20px;
    color: #555;
    font-weight: 400;
    margin-bottom: 16px;
  }
  .applicant-details__card--wrapper {
    display: flex;
    align-items: center;
    @media only screen and (max-width: 576px) {
      display: block;
    }
    .applicant-details__card {
      border: 1px solid $primary-color;
      width: 250px;
      border-radius: 5px;
      padding: 10px 13px;
      @media only screen and (max-width: 576px) {
        width: auto;
        margin-bottom: 16px;
      }
      .applicant-details__card--flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .applicant-details__card--title {
          color: #023b70;
          font-weight: 500;
          font-size: 18px;
        }
        .applicant-details__card--text {
          color: #9b9b9b;
          font-size: 12px;
          margin-bottom: 6px;
        }
        .applicant-details__card--id {
          color: #3c3c3c;
          font-size: 14px;
          margin-bottom: 0;
        }
        > img {
          margin-top: 4px;
          cursor: pointer;
        }
      }
    }
  }
  .appointment-calender {
    padding: 40px 0px;
    .sel-time {
      font-size: 16px;
      color: #555;
      font-weight: 500;
      margin: 14px 0px;
    }
    .appointment-calender__time--flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      height: 500px;
      @media only screen and (max-width: 768px) {
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        height: unset;
      }
      .appointment-calender__time--box {
        border-radius: 5px;
        border: 1px solid #cacaca;
        padding: 11px 16px;
        @media only screen and (max-width: 768px) {
          margin-bottom: 11px;
          margin-right: 11px;
        }
        &.selected {
          border: 1px solid $primary-color;
        }
        .time {
          margin-bottom: 0;
          font-size: 14px;
          font-weight: 500;
          color: #cacaca;
          &.active {
            color: $primary-color;
          }
        }
      }
      .appointment-calender__time--arrow {
        background-color: #003c72;
        border-radius: 5px;
        width: 43px;
        height: 39px;
        border: none;
        @media only screen and (max-width: 768px) {
          display: none;
        }
      }
    }
  }
}
