.applicant-details {
  padding: 30px 0px;
  @media (max-width: $xxLDesktop) {
    padding: 0;
  }
  .applicant-details__title {
    font-size: 20px;
    color: #555;
    font-weight: 400;
    margin-bottom: 16px;
    @media (max-width: $xxLDesktop) {
      font-size: 16px;
    }
  }
  .applicant-details__card--wrapper {
    display: flex;
    align-items: center;
    @media only screen and (max-width: 576px) {
      display: block;
    }
    .applicant-details__card {
      border: 1px solid $primary-color;
      width: 250px;
      border-radius: 5px;
      padding: 10px 13px;
      @media only screen and (max-width: 576px) {
        width: auto;
        margin-bottom: 16px;
      }
      .applicant-details__card--flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .applicant-details__card--title {
          color: #023b70;
          font-weight: 500;
          font-size: 18px;
        }
        .applicant-details__card--text {
          color: #9b9b9b;
          font-size: 12px;
          margin-bottom: 6px;
        }
        .applicant-details__card--id {
          color: #3c3c3c;
          font-size: 14px;
          margin-bottom: 0;
        }
        > img {
          margin-top: 4px;
          cursor: pointer;
        }
      }
    }
  }
  .appointment-calender {
    padding: 40px 0px;
    .location-select {
      border: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 26px;
      width: 160px;
      .react-select__control {
        border: none;
        .react-select__single-value {
          font-weight: 500;
          font-size: 15px;
          line-height: 26px;
          margin: 0;
          color: #f1651c;
        }
        .react-select__indicator-separator {
          width: 0px;
        }
        .react-select__indicator {
          padding: 5px;
        }
        svg {
          color: #757575;
        }
        &.react-select__control--is-focused {
          outline: none !important;
          box-shadow: none !important;
        }
      }
    }
    .sel-time {
      font-size: 16px;
      color: #555;
      font-weight: 500;
      margin: 14px 0px;
    }
    .appointment-calender__time {
      @media only screen and (max-width: 576px) {
        width: fit-content;
        // display: none;
      }
    }
    .appointment-calender__time--flex {
      display: flex;
      align-items: center;
      flex-direction: column;
      .slick-list {
        height: 410px !important;
        margin: 14px 0px 32px 0px;
        @media only screen and (max-width: 576px) {
          height: 330px !important;
          margin-left: -20px;
        }
        .slick-track {
          @media only screen and (max-width: 576px) {
            width: 360px !important;
            display: flex;
            justify-content: flex-start;
            transform: translateX(57px) !important;
            flex-wrap: wrap;
            margin-left: -36px;
          }
        }
        .slick-slide {
          display: flex;
          justify-content: center;
          @media only screen and (max-width: 576px) {
            width: 102px !important;
            justify-content: flex-start;
          }
        }
      }
      .appointment-calender__time--box {
        border-radius: 5px;
        border: 1px solid #cacaca;
        padding: 11px 16px;
        margin-bottom: 14px;
        margin-top: 14px;
        cursor: pointer;
        text-align: center;
        @media (max-width: $xLDesktop) {
          padding: 10px 15px;
        }

        @media only screen and (max-width: 576px) {
          margin-bottom: 0px;
          margin-right: 0px;
          margin: 8px 0px 0px 0px;
        }
        &.selected {
          border: 1px solid $primary-color;
        }
        .time {
          margin-bottom: 0;
          font-size: 14px;
          font-weight: 500;
          color: #cacaca;
          @media (max-width: $xLDesktop) {
            font-size: 12px;
          }
          &.active {
            color: $primary-color;
          }
        }
      }
      .appointment-calender__time--arrow {
        background-color: #003c72;
        border-radius: 5px;
        width: 43px;
        height: 39px;
        border: none;
        @media only screen and (max-width: 576px) {
          display: none;
        }
      }
    }
    .appointment-calender__buttons {
      @media only screen and (max-width: 576px) {
        display: flex;
        justify-content: center;
      }
      .cancel {
        @extend .primary-btn;
        background-color: rgb(105, 105, 105) !important;
        border: 1px solid #484848;
        color: #484848;
      }
      .continue {
        @extend .primary-btn;
      }
    }
    .calender-months {
      width: 100%;
      height: unset;
      margin: 0;
      .rdp-months {
        width: 100%;
        height: 100%;
        .rdp-month {
          width: 100%;
          height: 100%;
        }
        .rdp-caption {
          background-color: #ffe8dc;
          border-radius: 5px 5px 0px 0px;
          padding: 16px 0px;
          border: 1px solid #cdcdcd;
          border-bottom: none;
          justify-content: center;
          @media (max-width: $xxLDesktop) {
            font-size: 12px;
            padding: 0.2rem;
          }
          .rdp-caption_label {
            color: $secondary-color;
            font-weight: 600;
          }
          .rdp-nav {
            svg {
              color: $secondary-color;
              color: #023b72;
              @media (max-width: $xLDesktop) {
                width: 12px;
              }
            }
          }
        }
      }
      .rdp-table {
        width: 100%;
        max-width: unset !important;
        .rdp-head_row {
          .rdp-head_cell {
            border: 1px solid #cdcdcd;
            padding: 22px;
            @media (max-width: $xLDesktop) {
              padding: 10px;
            }
            @media screen and (max-width: 576px) {
              padding: 14px 0px;
            }
            > span {
              color: $primary-color;
              font-weight: 700;
              text-transform: capitalize;
              font-size: 14px;
            }
          }
        }
        .rdp-cell {
          border: 1px solid #cdcdcd;
          .rdp-day {
            font-weight: 500;
            margin: 0 auto;
            padding: 20px;
            max-width: inherit;
            border-radius: 0px;
            width: 100%;
            height: 100%;
            @media (max-width: $xLDesktop) {
              padding: 10px;
              font-size: 14px;
            }
            @media screen and (max-width: 576px) {
              padding: 10px 0px;
            }
          }
        }
      }
    }
    .calender-status {
      display: flex;
      align-items: center;
      margin: 12px 0px 2px 0px;
      @media screen and (max-width: 576px) {
        justify-content: center;
        margin: 25px 0px 28px 0px;
      }
      .calender-status__title {
        font-weight: 400;
        font-size: 14px;
        color: #555;
        margin-bottom: 0;
      }
      .calender-status__box {
        display: flex;
        align-items: center;
        margin: 0px 14px;
        @media screen and (max-width: 576px) {
          margin: 0px 4px;
        }
        .box {
          width: 14px;
          height: 14px;
          border: 1px solid #000;
          margin-right: 8px;
          &.selected {
            background-color: $primary-color;
            border: none;
          }
          &.not-avail {
            background-color: #ffafaf;
            border: none;
          }
        }
        .status {
          @extend .calender-status__title;
        }
      }
    }
  }
}
// .calender-months {
// 	@media screen and (max-width: 767px) {
// 		margin: 0 auto;
// 		display: table !important;
// 	}
// 	.DayPicker-wrapper {
// 		&:focus {
// 			outline: none;
// 		}
// 	}
//
// 	.DayPicker-NavButton {
// 		width: 30px;
// 		height: 30px;
// 		box-shadow: 0px 5px 10px #0000001a;
// 		border-radius: 50%;
// 		top: 0;
// 		right: 0;
// 		margin: 0;
// 		&:focus {
// 			outline: none;
// 		}
// 	}
// 	// .DayPicker-NavButton--next {
// 	// 	background-image: url('../images/right.png');
// 	// }
// 	// .DayPicker-NavButton--prev {
// 	// 	margin-right: 45px;
// 	// 	background-image: url('../images/left.png');
// 	// 	opacity: 0.5;
// 	// }
// 	.DayPicker-Month {
// 		margin: 0;
// 		.DayPicker-Weekday {
// 			font-size: 13px;
//
// 			letter-spacing: 0.65px;
// 			color: black;
// 			line-height: 16px;
// 			font-weight: bold;
// 		}
// 		.DayPicker-Caption {
// 			border-bottom: 1px solid #ffae75;
// 			border-bottom: 1px solid #ffae75;
// 			padding-bottom: 21.5px;
// 			margin-bottom: 27.5px;
// 			padding-right: 0;
// 			padding-left: 0;
// 			div {
// 				font-size: 16px;
// 				font-weight: 600;
// 				line-height: 19px;
// 			}
// 		}
// 		.DayPicker-Body {
// 			.DayPicker-Day {
// 				padding: 14.5px 14.5px;
// 				letter-spacing: 0.8px;
//
// 				text-transform: uppercase;
// 				font-size: 16px;
// 				line-height: 19px;
// 				letter-spacing: 0.8px;
// 				font-weight: bold;
// 				@media screen and (max-width: 991px) {
// 					padding: 9px 11px;
// 					font-size: 13px;
// 				}
// 			}
// 		}
// 	}
// }
