.appointment-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  @media only screen and (max-width: 768px) {
    height: unset;
    padding: 40px 0px;
  }
  .appointment-form__row {
    @media only screen and (max-width: 768px) {
      flex-direction: column-reverse;
    }
    .appointment-form__img--wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      .appointment-form__img {
        height: 300px;
        width: auto;
        @media (max-width: $xxLDesktop) {
          width: 20rem;
          height: 18rem;
        }
      }
    }

    .appointment-form__content {
      .appointment-form__tabs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 18px 0px 20px 0px;
        @media (max-width: 576px) {
          display: block;
        }
        .tab-btn {
          border: 1px solid #848484;
          color: #848484;
          padding: 13px 10px;
          margin-right: 10px;
          background: none;
          border-radius: 5px;
          font-size: 14px;
          font-weight: 500;
          flex: 0 0 32%;
          max-width: 32%;
          @media (min-width: 1200px) and (max-width: 1400px) {
            flex: 0 0 33%;
            max-width: 33%;
            padding: 12px 10px;
            font-size: 13px;
          }
          @media (max-width: 768px) {
            flex: unset;
            max-width: unset;
          }
          @media (max-width: 576px) {
            display: block;
          }
          &.active {
            border: 1px solid $primary-color;
            color: $primary-color;
          }
        }
      }
      .appointment-form__title {
        font-size: 50px;
        font-weight: 500;
        color: $secondary-color;
        font-size: 44px;
        @media only screen and (max-width: $xxLDesktop) {
          font-size: 1.5rem;
        }
        > mark {
          background: none;
          color: $primary-color;
          padding: 0;
        }
      }
      .appointment-form__info {
        color: #848484;
        font-size: 16px;
        font-weight: 400;
        margin: 24px 0px 22px 0px;
        @media (max-width: $xxLDesktop) {
          font-size: 13px;
          margin: 0.5rem 0;
        }
      }
      .appointment-form__fields {
        width: 80%;
        @media only screen and (max-width: 992px) {
          width: 100%;
        }
        label {
          font-size: 16px;
          font-weight: 400;
          color: #555;
          margin-bottom: 4px;
          @media (max-width: $xxLDesktop) {
            font-size: 14px;
          }
          @media (min-width: 992px) and (max-width: 1200px) {
            font-size: 12px;
          }
          
          // span {
          //   color: #bcbcbc;
          // }
        }
        .appointment-form__input {
          min-height: 38px;
          color: #555;
          border: 1px solid #B1B1B1;
          width: 100%;
          border-radius: 5px;
          padding-left: 8px;
          &::placeholder {
            color: #BCBCBC;
          }
          &:focus {
            box-shadow: none;
            outline: none !important;
          }
          &:internal-autofill-selected {
            background-color: red !important;
          }
          @media (max-width: $xxLDesktop) {
            font-size: 14px;
          }
          &.date-picker {
            width: 100% !important;
          }
        }
        .cont-btn {
          @extend .primary-btn;
          margin-top: 8px;
          margin-bottom: 14px;
          padding: 0px !important;
          height: 45px;
          &.cont-btn-disabled {
            background: $primary-color !important;
            opacity: 0.4;
          }
          @media only screen and (max-width: 992px) {
            margin-top: 20px;
          }
          .loader-img {
            width: 20px;
          }
        }
        .react-select__control {
          min-height: 38px !important;
          border: 1px solid #B1B1B1;
          width: 100%;
          @media only screen and (max-width: 768px) {
            width: 100%;
          }
          @media (min-width: 769px) and (max-width: 992px) {
            width: 100%;
            margin-bottom: 12px;
          }
          cursor: pointer;
          .react-select__indicator-separator {
            width: 0;
          }
          &.react-select__control--is-focused {
            box-shadow: none;
          }
          .react-select__single-value {
            font-size: 14px;
            color: #555;
            font-weight: 400;
          }
          .react-select__indicators {
            svg {
              color: #757575;
            }
          }
        }
        .react-select__menu {
          width: 100%;
          top: 84%;
          border: 1px solid #b1b1b1;
          .react-select__menu-list {
            padding: 0;
            .react-select__option {
              cursor: pointer;
              color: #555;
              &.react-select__option--is-focused {
                background-color: rgb(230, 245, 255);
                color: #555;
              }
              &.css-tr4s17-option {
                background-color: $primary-color;
                color: white;
              }
            }
          }
        }
        .react-datepicker {
          .react-datepicker__day--selected {
            background-color: $primary-color;
          }
          .react-datepicker__day--keyboard-selected {
            background-color: $primary-color;
            color: white;
          }
          .react-datepicker__day:hover {
            background-color: $primary-color;
            color: white;
          }
          .react-datepicker__month-dropdown-container {
            margin: 7px 0px;
            .react-datepicker__month-select {
              border: 1px solid #cdcdcd;
              border-radius: 5px;
              padding: 4px;
            }
          }
          .react-datepicker__year-dropdown-container {
            margin: 7px 10px;
            .react-datepicker__year-select {
              border: 1px solid #cdcdcd;
              border-radius: 5px;
              padding: 4px;
            }
          }
        }
      }
      .appointment-form_desc {
        color: #555;
        font-size: 16px;
        font-weight: 400;
        margin: 30px 0px 24px 0px;
        > a {
          color: $primary-color;
          text-decoration: none;
        }
        @media (max-width: $xxLDesktop) {
          font-size: 13px;
          margin: 0.5rem 0;
        }
        @media (max-width: 768px) {
          margin-bottom: 32px;
        }
      }
    }
  }
}
