.appointment-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  @media only screen and (max-width: 768px) {
    height: unset;
    padding: 40px 0px;
  }
  .appointment-form__row {
    @media only screen and (max-width: 768px) {
      flex-direction: column-reverse;
    }
    .appointment-form__img--wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      .appointment-form__img {
        height: 300px;
        width: auto;
        @media (max-width: $xxLDesktop) {
          width: 20rem;
          height: 18rem;
        }
      }
    }

    .appointment-form__content {
      .appointment-form__title {
        font-size: 50px;
        font-weight: 500;
        color: $secondary-color;
        font-size: 44px;
        @media only screen and (max-width: $xxLDesktop) {
          font-size: 1.5rem;
        }
        > mark {
          background: none;
          color: $primary-color;
          padding: 0;
        }
      }
      .appointment-form__info {
        color: #848484;
        font-size: 16px;
        font-weight: 400;
        margin: 24px 0px 22px 0px;
        @media (max-width: $xxLDesktop) {
          font-size: 13px;
          margin: 0.5rem 0;
        }
      }
      .appointment-form__fields {
        width: 80%;
        @media only screen and (max-width: 992px) {
          width: 100%;
        }
        label {
          font-size: 16px;
          font-weight: 400;
          color: #555;
          margin-bottom: 4px;
          @media (max-width: $xxLDesktop) {
            font-size: 14px;
          }
          @media (min-width: 992px) and (max-width: 1200px) {
            font-size: 12px;
          }
          .star {
            color: #ff2222;
          }
          span {
            color: #bcbcbc;
          }
        }
        .appointment-form__input {
          min-height: 38px;
          // color: #bcbcbc;
          &::placeholder {
            color: #bcbcbc;
          }
          &:focus {
            box-shadow: none;
            outline: none !important;
          }
          &:internal-autofill-selected {
            background-color: red !important;
          }
          @media (max-width: $xxLDesktop) {
            font-size: 14px;
          }
        }
        .cont-btn {
          @extend .primary-btn;
          margin-top: 8px;
          margin-bottom: 14px;
          padding: 0px !important;
          height: 45px;
          &.cont-btn-disabled {
            background: $primary-color !important;
            opacity: 0.4;
          }
          @media only screen and (max-width: 992px) {
            margin-top: 20px;
          }
          .loader-img {
            width: 20px;
          }
        }
        .react-select__control {
          min-height: 38px !important;
          border: 1px solid #d6d6d6;
          width: 100%;
          @media only screen and (max-width: 768px) {
            width: 100%;
          }
          @media (min-width: 769px) and (max-width: 992px) {
            width: 100%;
            margin-bottom: 12px;
          }
          cursor: pointer;
          .react-select__indicator-separator {
            width: 0;
          }
          &.react-select__control--is-focused {
            box-shadow: none;
          }
          .react-select__single-value {
            font-size: 14px;
          }
        }
        .react-select__menu {
          width: 100%;
          top: 84%;
          border: 1px solid #b1b1b1;
          .react-select__menu-list {
            padding: 0;
            .react-select__option {
              cursor: pointer;
              color: #555;
              &.react-select__option--is-focused {
                background-color: rgb(230, 245, 255);
                color: #555;
              }
              &.css-tr4s17-option {
                background-color: $primary-color;
                color: white;
              }
            }
          }
          
        }
      }
      .appointment-form_desc {
        color: #555;
        font-size: 16px;
        font-weight: 400;
        margin: 30px 0px 24px 0px;
        > a {
          color: $primary-color;
          text-decoration: none;
        }
        @media (max-width: $xxLDesktop) {
          font-size: 13px;
          margin: 0.5rem 0;
        }
        @media (max-width: 768px) {
          margin-bottom: 32px;
        }
      }
    }
  }
}
