.inner-header {
  padding: 1rem 0px;
  .inner-header__logo {
    @media (max-width: $xxLDesktop) {
      width: 45px;
      height: 45px;
    }
  }
  .inner-header__row {
    @media (min-width: 769px) and (max-width: 992px) {
      flex-direction: column;
    }
    .inner-header__member {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      label {
        font-size: 1rem;
        font-weight: 400;
        color: #555;
        margin-bottom: 4px;
        @media (max-width: $xxLDesktop) {
          font-size: 14px;
        }
      }
      .inner-header__input {
        min-height: 38px;
        width: 200px;
        border: 1px solid #c0c0c0;
        color: #555 !important;
        @media (max-width: $xxLDesktop) {
          font-size: 14px;
        }
        @media (min-width: 769px) and (max-width: 992px) {
          width: 250px;
          margin-bottom: 12px;
        }
        @media only screen and (max-width: 768px) {
          width: 100%;
        }
        &::placeholder {
          color: #bcbcbc;
        }
        &:focus {
          box-shadow: none;
          outline: none !important;
        }
      }
      .react-select__control {
        min-height: 38px !important;
        border: 1px solid #c0c0c0;
        width: 200px;
        font-size: 14px;
        @media only screen and (max-width: 768px) {
          width: 100%;
        }
        @media (min-width: 769px) and (max-width: 992px) {
          width: 250px;
          margin-bottom: 12px;
        }
        cursor: pointer;
        .react-select__indicator-separator {
          width: 0;
        }
        &.react-select__control--is-focused {
          box-shadow: none;
        }
      }
      .react-select__menu {
        width: 100%;
        top: 84%;
        border: 1px solid #b1b1b1;
        .react-select__option {
          cursor: pointer;
          color: #555;
          &.react-select__option--is-focused {
            background-color: white;
            color: #555;
          }
          &.css-tr4s17-option {
            background-color: $primary-color;
            color: white;
          }
        }
      }
      .inner-header__member--btn {
        @extend .primary-btn;
        width: 140px;
        height: 38px;
      }
    }
  }
}
