.inner-header {
  padding: 1rem 0px 0px 0px;
  @media (max-height: 660px) {
    padding: 8px 0px 0px 0px;
  }
  .inner-header__logo {
    width: 156px;
    height: auto;
    // margin-top: 16px;
    // @media (max-width: $xxLDesktop) {
    //   width: 156px;
    //   height: auto;
    //   margin-top: 16px;
    // }
    @media (max-width: 992px) {
      margin-bottom: 22px;
    }
  }
  .inner-header__row {
    @media (min-width: 769px) and (max-width: 992px) {
      flex-direction: column;
    }
    .inner-header__member {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @media (min-width: 769px) and (max-width: 992px) {
        justify-content: flex-start;
      }
      @media only screen and (max-width: 768px) {
        display: block;
      }
      label {
        font-size: 1rem;
        font-weight: 500;
        color: #555;
        margin-bottom: 4px;
        @media (max-width: $xxLDesktop) {
          font-size: 14px;
        }
        span {
          color: #bcbcbc;
        }
      }
      .inner-header__input {
        min-height: 38px;
        width: 200px;
        border: 1px solid #B1B1B1;
        color: #BCBCBC !important;
        @media (max-width: $xxLDesktop) {
          font-size: 14px;
        }
        @media (min-width: 993px) and (max-width: 1200px) {
          width: 132px;
        }
        @media (min-width: 769px) and (max-width: 992px) {
          width: 134px;
          margin-bottom: 12px;
        }
        @media only screen and (max-width: 768px) {
          width: 100%;
        }
        &::placeholder {
          color: #BCBCBC;
        }
        &:focus {
          box-shadow: none;
          outline: none !important;
        }
      }
      .react-select__control {
        min-height: 38px !important;
        border: 1px solid #c0c0c0;
        width: 200px;
        font-size: 14px;
        @media only screen and (max-width: 768px) {
          width: 100%;
        }
        @media (min-width: 993px) and (max-width: 1200px) {
          width: 132px;
        }
        @media (min-width: 769px) and (max-width: 992px) {
          width: 134px;
          margin-bottom: 12px;
        }
        cursor: pointer;
        .react-select__indicator-separator {
          width: 0;
        }
        &.react-select__control--is-focused {
          box-shadow: none;
        }
      }
      .react-select__menu {
        width: 100%;
        top: 84%;
        border: 1px solid #b1b1b1;
        .react-select__option {
          cursor: pointer;
          color: #555;
          &.react-select__option--is-focused {
            background-color: rgb(230, 245, 255);
            color: #555;
          }
          &.css-tr4s17-option {
            background-color: $primary-color;
            color: white;
          }
        }
      }
      .inner-header__member--btn2 {
        @extend .primary-btn;
        width: 132px !important;
        height: 40px;
        position: relative;
        top: 3px;
        @media (min-width: 769px) and (max-width: 992px) {
          top: -2px;
        }
      }
    }
  }
}
