$primary-color: #f1651c;
$secondary-color: #023b72;

@import "./variables.scss";
@import "./home-page.scss";
@import "./inner-header.scss";
@import "./book-appointment.scss";
@import "./make-payment.scss";
.primary-btn {
  background-color: $primary-color;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 0;
  width: 174px;
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background: $primary-color;
    color: white;
  }
  @media (max-width: $xxLDesktop) {
    font-size: 14px;
  }
}
