body {
  font-family: "Roboto", sans-serif !important;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
$xxLDesktop: 1599.98px;
$xLDesktop: 1439.98px;
$largeDesktop: 1199.98px;
$desktop: 991.98px;
$tablet: 767.98px;
$phone: 575.98px;
$laptop: 1280px;

.form-control {
  border-radius: 5px !important;
}

.star {
  color: #ff2222;
}
.error-msg {
  color: #ff2222;
  font-size: 0.812rem;
}
.no-error-msg {
  height: 19.47px;
}

.header {
  .navbar {
    > .container-fluid {
      padding-left: 0;
    }
  }
  .navbar-toggler {
    display: none;
  }
  .header-img {
    width: 156px;
    height: auto;
  }
}

.loader-img {
  width: 32px;
  margin-left: 8px;
}

.confirm-modal {
  max-width: 600px !important;
  @media (max-height: 660px) {
    max-width: 486px !important;
  }
  .modal-content {
    border-radius: 10px;
    border: none;
    .modal-header {
      background-color: #ffe8dc;
      border-radius: 10px;
      justify-content: center;
      padding: 20px 0px;
      border: none;
      .btn-close {
        display: none;
      }
      .modal-title {
        display: flex;
        justify-content: center;
        .confirm-modal__img {
          width: 150px;
          @media (max-height: 660px) {
            max-width: 50%;
          }
        }
      }
    }
    .modal-body {
      padding: 20px 0px 34px 0px;
      @media (max-height: 660px) {
        padding: 12px 0px 20px 0px;
      }
      .confirm-modal__title {
        color: $secondary-color;
        font-weight: 800;
        font-size: 22px;
        text-align: center;
        margin: 0px 0px 10px 0px;
        @media (max-width: $xxLDesktop) {
          font-size: 17px;
        }
        @media only screen and (max-width: 576px) {
          font-size: 18px;
          margin: 4px 0px 14px 0px;
          line-height: 26px;
        }
      }
      .confirm-modal__subtitle {
        font-size: 18px;
        color: #9b9b9b;
        text-align: center;
        // margin-top: -22px;
        text-align: center;
        margin-bottom: 20px;
      }
      .confirm-modal__applicant--info {
        border: 1px solid #cdcdcd;
        border-radius: 5px;
        width: 350px;
        margin: 0 auto;
        @media only screen and (max-width: 576px) {
          width: 320px;
        }
        @media only screen and (max-width: 340px) {
          width: 270px;
        }
        .confirm-modal__applicant--flex {
          display: flex;
          align-items: center;
          border-bottom: 1px solid #cdcdcd;
          padding: 12px 10px;
          &:last-child {
            border-bottom: none;
          }
          .confirm-modal__applicant--data {
            width: 56%;
            .confirm-modal__applicant--heading {
              color: #9b9b9b;
              font-weight: 500;
              font-size: 15px;
              margin-bottom: 0;
              display: flex;
              align-items: center;
              .img-box {
                width: 17%;
                .curr-img {
                  margin-left: 6px;
                }
              }
              @media (max-width: $xxLDesktop) {
                font-size: 14px;
              }
              span {
                color: #bcbcbc;
                font-size: 11px;
                margin-left: 4px;
              }
            }
          }
          .confirm-modal__applicant--value {
            width: 44%;
            .confirm-modal__applicant-desc {
              font-size: 15px;
              font-weight: 600;
              opacity: 0.7;
              color: black;
              margin-bottom: 0;
              &.email-add {
                word-break: break-all;
              }
              @media (max-width: $xxLDesktop) {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
  .confirm-modal__btn {
    text-align: center;
    margin-top: 30px;
    @media (max-height: 660px) {
      margin-top: 18px;
    }
    @media only screen and (max-width: 576px) {
      margin: 20px;
    }
    .cancel {
      @extend .primary-btn;
      width: 190px;
      margin-right: 20px;
      background: #6c757d !important;
      @media only screen and (max-width: 576px) {
        width: 252px !important;
        margin-bottom: 10px;
        margin-right: 0px;
      }
    }
    .confirm {
      @extend .primary-btn;
      width: 190px;
      @media only screen and (max-width: 576px) {
        width: 130px !important;
      }
      &.payment-btn {
        width: unset;
        padding: 11px 22px;
        @media only screen and (max-width: 576px) {
          width: 252px !important;
          display: block;
          margin: 0 auto;
        }
        &.reschedule {
          width: 174px;
        }
      }
    }
  }
}

// appointment booked
.apt-booked {
  padding: 50px 0px;
  .apt-booked__img {
    margin-bottom: 32px;
    max-width: 30%;
    @media (max-width: $xxLDesktop) {
      max-width: 22%;
    }
    @media only screen and (max-width: 992px) {
      max-width: 60%;
    }
    @media only screen and (max-width: 768px) {
      max-width: 80%;
    }
  }
  .apt-booked__title {
    font-size: 40px;
    font-weight: 600;
    color: #003c70;
    margin-bottom: 14px;
    @media (max-width: $xxLDesktop) {
      font-size: 25px;
    }
    @media only screen and (max-width: 576px) {
      font-size: 24px;
    }
  }
  .apt-booked__para {
    font-size: 16px;
    font-weight: 400;
    color: #585858;
    padding: 0px 14%;
    line-height: 30px;
    @media (max-width: $xxLDesktop) {
      font-size: 13px;
    }
    @media only screen and (max-width: 768px) {
      padding: 0;
      line-height: 24px;
    }
    > span {
      color: $primary-color;
      text-decoration: none;
    }
  }
  .slip-btn {
    @extend .primary-btn;
    margin-right: 18px;
    @media only screen and (max-width: 576px) {
      width: 140px !important;
    }
  }
  .checklist-btn {
    @extend .primary-btn;
    background: none !important;
    border: 1px solid $primary-color !important;
    color: $primary-color !important;
    @media only screen and (max-width: 576px) {
      width: 140px !important;
      margin: 0;
    }
  }
}

// delete modal
.del-modal {
  max-width: 444px !important;
  @media only screen and (max-width: 576px) {
    margin: 0 auto !important;
  }
  .modal-content {
    border: none;
    .modal-header {
      border-bottom: none;
      // border-width: 0 !important;
    }
    .modal-body {
      text-align: center;
      padding: 6px 0px 34px 0px;
      .del-modal__title {
        color: $secondary-color;
        font-weight: 800;
        font-size: 18px;
        text-align: center;
        margin: 18px 0px 22px 0px;
      }
      .del-modal__para {
        color: #555;
        margin-bottom: 30px;
      }
      .del-btn {
        @extend .primary-btn;
        width: 120px !important;
      }
      .confirm-modal__applicant--data {
        text-align: left;
      }
    }
  }
}

// add member modal
.add-member__modal {
  &.modal-dialog {
    max-width: 780px;
    @media (min-width: 577px) and (max-width: 768px) {
      margin: 14px;
    }
  }
  .modal-content {
    border: none;
    border-radius: 14px;
    .modal-header {
      border-bottom: 1px solid #b1b1b1;
      padding: 17px 22px 15px 36px;
      .btn-close {
        border-radius: 0;
        opacity: 1;
      }
      .modal-title {
        font-weight: 600;
        font-size: 22px;
        color: $primary-color;
      }
    }
    .modal-body {
      padding: 24px 34px 28px 34px;
      @media (max-width: 576px) {
        padding: 24px 34px 2px 34px;
      }
      .form-label {
        color: #555;
        font-weight: 400;
        margin-bottom: 4px;
      }
      .member-input {
        padding: 10px;
        color: #555;
        border: 1px solid #cacaca;
        &:focus {
          box-shadow: none;
          outline: none;
        }
      }
      .react-select__control {
        min-height: 46px !important;
        border: 1px solid #cacaca;
        width: 100%;
        @media only screen and (max-width: 768px) {
          width: 100%;
        }
        @media (min-width: 769px) and (max-width: 992px) {
          width: 100%;
          margin-bottom: 12px;
        }
        cursor: pointer;
        .react-select__indicator-separator {
          width: 0;
        }
        &.react-select__control--is-focused {
          box-shadow: none;
        }
        .react-select__single-value {
          font-size: 16px;
          color: #555;
          font-weight: 400;
        }
        .react-select__indicators {
          svg {
            color: #555;
          }
        }
      }
      .react-select__menu {
        // width: 100%;
        top: 84%;
        border: 1px solid #b1b1b1;
        .react-select__option {
          cursor: pointer;
          color: #555;
          text-transform: capitalize;
          padding: 10px 12px;
          &.react-select__option--is-focused {
            background-color: rgb(230, 245, 255);
            color: #555;
            border: none;
          }
          &.react-select__option--is-selected {
            background-color: $primary-color;
            color: white;
            border: none;
            &:hover {
              background-color: $primary-color !important;
              color: white !important;
            }
          }
        }
      }
      .save-btn {
        background-color: $primary-color;
        border: none;
        font-weight: 400;
        padding: 12px 24px;
        border-radius: 5px;
        &:hover {
          opacity: 0.85;
        }
      }
    }
  }
}
